<input type="checkbox" id="sidebar-toggle" class="sidebar-toggle" hidden>
<label for="sidebar-toggle" class="hamburger-label">
  <img src="assets/images/hamburger.png" alt="menu" class="hamburger">
</label>
<div class="container-fluid" id="main-content">
  <div class="row">
    <div class="spare">
      <img src="assets/images/logo.png" alt="">
    </div>
    <div class="sidebar col-2">
      <label for="sidebar-toggle" class="close-btn">
        <img src="assets/images/cross.png" alt="Close" id="cross">
      </label>
      <div class="logo d-flex justify-content align-items-center">
        <img src="assets/images/logo.png" alt="" id="img1">
      </div>
      <div class="options">
        <ul>
          <li>
            <img src="assets/images/Rectangle 22.png" alt="" class="rect" id="rect1">
            <button id="s1">Signatures</button>
          </li>
          <li>
            <img src="assets/images/Rectangle 22.png" alt="" class="rect">
            <button>Documents</button>
          </li>
          <li>
            <img src="assets/images/Rectangle 22.png" alt="" class="rect">
            <button>Seal Signature</button>
          </li>
          <li>
            <img src="assets/images/Rectangle 22.png" alt="" class="rect">
            <button>Notifications</button>
          </li>
          <li>
            <img src="assets/images/Rectangle 22.png" alt="" class="rect">
            <button>Profile</button>
          </li>
        </ul>
      </div>
    </div>
    <div class="content">
      <div class="navbar">
        <div class="search d-flex">
          <img src="assets/images/search.png" alt="" class="d-flex justify-content-centre align-items-center">
          <input type="search" placeholder="Search">
        </div>
        <label class="switch">
          <input type="checkbox" id="langToggle">
          <span class="slider"></span>
          <div class="labels">
            <span class="en">EN</span>
            <span class="fr">FR</span>
          </div>
        </label>
        <div class="profile d-flex justify-content-between align-items-center">
          <img src="assets/images/noti.png" alt="" id="bell">
          <div class="contact">
            <div *ngIf="userData">
              <div class="fw-bold" id="name">{{ userData.fname }} {{ userData.lname }}</div>
              <div class="fw-lighter">{{ userData.phone }}</div>
            </div>
          </div>
          <img src="assets/images/profile circle.png" alt="" id="profile">
        </div>
      </div>
      <div class="demo-nav">
        <div class="d-flex justify-content-between align-items-center" id="top-nav">
          <label class="switch">
            <input type="checkbox" id="langToggle">
            <span class="slider"></span>
            <div class="labels">
              <span class="en">EN</span>
              <span class="fr">FR</span>
            </div>
          </label>
          <div class="profile d-flex justify-content-between align-items-center">
            <img src="assets/images/noti.png" alt="" id="bell">
            <div class="contact">
              <div class="fw-bold" id="name">Merlin Casey</div>
              <div class="fw-lighter">+241 000 00 00 00</div>
            </div>
            <img src="assets/images/profile circle.png" alt="" id="profile">
          </div>
        </div>
        <div class="search d-flex">
          <img src="assets/images/search.png" alt="" class="d-flex justify-content-centre align-items-center">
          <input type="search" placeholder="Search">
        </div>
      </div>
      <!-- <div class="sign d-flex justify-content-between align-items-center">
        <div class="fs-5 fw-semibold" id="sign">Signatures</div>
        <input type="text" placeholder="Add Signature" id="add">
      </div> -->
      <!-- After -->
      <div class="sign">
        <button type="button">Add Signature</button>
      </div>
      <div class="main">
        <img src="assets/images/Frame.png" alt="frame">
        <div class="text">
          <h5>You haven't created or Uploaded any signature.</h5>
          <h5>You can add your signature here</h5>
          <input type="text" placeholder="Add Signature">
        </div>
      </div>
      <div class="details">
        <h6>User Details</h6>
        <ul *ngIf="userData">
          <li>Email: {{ userData.email }}</li>
          <li>Gender: {{ userData.gender }}</li>
          <li>Country: {{ userData.country }}</li>
          <li>Password: {{ userData.password }}</li>
        </ul>
      </div>

    </div>
    <!-- api -->
      <div class="card p-5 user-card" *ngFor="let user of usersList">
        <div>
          <h6 class="m-0">{{user.id}}</h6>
          <p class="m-0"> {{user.title}} </p>
        </div>
        <div (click)="deleteUser(user.id)">
          <img src="assets/images/delete.png" alt="" class="img-fluid">
        </div>
      </div>
  </div>
</div>
<label for="sidebar-toggle" class="sidebar-overlay"></label>