<input type="checkbox" id="sidebar-toggle" class="sidebar-toggle" hidden>
<label for="sidebar-toggle" class="hamburger-label">
  <img src="assets/images/hamburger.png" alt="menu" class="hamburger">
</label>
<div class="container-fluid" id="main-content">
  <div class="row">
    <div class="spare">
      <img src="assets/images/logo.png" alt="">
    </div>
    <div class="sidebar col-2">
      <label for="sidebar-toggle" class="close-btn">
        <img src="assets/images/cross.png" alt="Close" id="cross">
      </label>
      <div class="logo d-flex justify-content align-items-center">
        <img src="assets/images/logo.png" alt="" id="img1">
      </div>
      <div class="options">
        <ul>
          <li>
            <img src="assets/images/Rectangle 22.png" alt="" class="rect" id="rect1">
            <button id="s1">Signatures</button>
          </li>
          <li>
            <img src="assets/images/Rectangle 22.png" alt="" class="rect">
            <button>Documents</button>
          </li>
          <li>
            <img src="assets/images/Rectangle 22.png" alt="" class="rect">
            <button>Seal Signature</button>
          </li>
          <li>
            <img src="assets/images/Rectangle 22.png" alt="" class="rect">
            <button>Notifications</button>
          </li>
          <li>
            <img src="assets/images/Rectangle 22.png" alt="" class="rect">
            <button>Profile</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<label for="sidebar-toggle" class="sidebar-overlay"></label>