<input type="checkbox" id="sidebar-toggle" class="sidebar-toggle" hidden>
<label for="sidebar-toggle" class="hamburger-label">
  <img src="assets/images/hamburger.png" alt="menu" class="hamburger">
</label>

<div class="container-fluid" id="main-content">
  <div class="row">
    <div class="spare">
      <img src="assets/images/logo.png" alt="">
    </div>

    <!-- Sidebar -->
    <div class="sidebar col-2">
      <label for="sidebar-toggle" class="close-btn">
        <img src="assets/images/cross.png" alt="Close" id="cross">
      </label>
      <div class="logo d-flex justify-content align-items-center">
        <img src="assets/images/logo.png" alt="" id="img1">
      </div>
      <div class="options">
        <ul>
          <li>
            <button routerLink="/dashboard">
              <img src="assets/images/Rectangle 22.png" alt="" class="rect">
              <span>Signatures</span>
            </button>
          </li>
          <li>
            <button routerLink="/documents">
              <img src="assets/images/Rectangle 22.png" alt="" class="rect">
              <span>Documents</span>
            </button>
          </li>
          <li>
            <button routerLink="/seal">
              <img src="assets/images/Rectangle 22.png" alt="" class="rect">
              <span>Seal Signature</span>
            </button>
          </li>
          <li>
            <button routerLink="/notifications">
              <img src="assets/images/Rectangle 22.png" alt="" class="rect">
              <span>Notifications</span>
            </button>
          </li>
          <li>
            <button routerLink="/profile">
              <img src="assets/images/Rectangle 22.png" alt="" class="rect">
              <span>Profile</span>
            </button>
          </li>
        </ul>
      </div>
    </div>

    <!-- Content Area -->
    <div class="col content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<label for="sidebar-toggle" class="sidebar-overlay"></label>