<div class="employee-container">
    <div class="top d-flex justify-content-between">
        <h1>Employee List</h1>
        <section>
            <button class="add" (click)="setFormMode('add')">Add
                Employee</button>
        </section>
    </div>

    <table>
        <thead>
            <tr>
                <th>Sl no</th>
                <th>Name</th>
                <th>Designation</th>
                <th>Joining Date</th>
                <th>Age</th>
                <th>Salary</th>
                <th>Shift</th>
                <th>Phone</th>
                <th>Gender</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employeeList; let i=index">
                <td>{{ i+1 }}</td>
                <td>{{ employee.name }}</td>
                <td>{{ employee.designation }}</td>
                <td>{{ employee.date }}</td>
                <td>{{ employee.age }}</td>
                <td>{{ employee.salary}}</td>
                <td>{{ employee.shift}}</td>
                <td>{{ employee.phone}}</td>
                <td>{{ employee.gender }}</td>
                <td class="action-buttons">
                    <button (click)="editModal(employee)" class="edit" (click)="setFormMode('edit')">
                        <img src="assets/images/edit.png" alt="">
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="form-modal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                            <div class="modal-content add-modal">
                                <div class="d-flex align-items-center justify-content-between">
                                    <h4 class="modal-title" id="modal-title">
                                        {{ formMode === 'add' ? 'Add Employee Details' : 'Edit Employee Details' }}
                                    </h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form [formGroup]="employeeForm" (ngSubmit)="onClick()">
                                        <div class="form-section">
                                            <div class="mb-3">
                                                <label for="name" class="form-label">Name:</label>
                                                <input type="text" class="form-control" id="name"
                                                    placeholder="Enter your name" formControlName="name"
                                                    [(ngModel)]="employeeObj.name">
                                            <div *ngIf="submitted && f['name'].errors" class="space error">
                                                <div *ngIf="f['name'].errors['required']">{{ 'Name is required'}}
                                                </div>
                                                <div *ngIf="f['name'].errors['pattern']">{{ 'Please enter a valid Name'}}
                                                </div>
                                            </div>
                                            </div>

                                            <div class="mb-3">
                                                <label for="designation" class="form-label">Designation:</label>
                                                <select class="form-control" id="designation"
                                                    formControlName="designation" [(ngModel)]="employeeObj.designation">
                                                    <option value="" disabled selected>Select designation</option>
                                                    <option value="Intern">Intern</option>
                                                    <option value="Trainee">Trainee</option>
                                                    <option value="Junior Developer">Junior Developer</option>
                                                    <option value="Senior Developer">Senior Developer</option>
                                                    <option value="Team Lead">Team Lead</option>
                                                    <option value="Manager">Manager</option>
                                                    <option value="HR">HR</option>
                                                    <option value="CEO">CEO</option>
                                                </select>
                                            <div *ngIf="submitted && f['designation'].errors" class="space error">
                                                <div>{{ 'Please select your designation' }}</div>
                                            </div>
                                            </div>

                                            <div class="mb-3">
                                                <label for="date" class="form-label">Joining Date:</label>
                                                <input type="date" class="form-control" id="date"
                                                    placeholder="Enter your date of joining" formControlName="date"
                                                    [(ngModel)]="employeeObj.date">
                                            <div *ngIf="submitted && f['date'].errors" class="space error">
                                                <div>{{ 'Please select your joining date' }}</div>
                                            </div>
                                            </div>

                                            <div class="mb-3">
                                                <label for="age" class="form-label">Age:</label>
                                                <input type="number" class="form-control" id="age"
                                                    placeholder="Enter your age" formControlName="age"
                                                    [(ngModel)]="employeeObj.age">
                                            <div *ngIf="submitted && f['age'].errors" class="space error">
                                                <div *ngIf="f['age'].errors['required']">{{ 'Age is required' }}
                                                </div>
                                                <div *ngIf="f['age'].errors['pattern']">{{ 'Please enter a valid age' }}
                                                </div>
                                                <div *ngIf="f['age'].errors['min']">Age must be at least 18</div>
                                            </div>
                                            </div>

                                            <div class="mb-3">
                                                <label for="salary" class="form-label">Salary:</label>
                                                <input type="number" class="form-control" id="salary"
                                                    placeholder="Enter your salary" formControlName="salary"
                                                    [(ngModel)]="employeeObj.salary">
                                            <div *ngIf="submitted && f['salary'].errors" class="space error">
                                                <div *ngIf="f['salary'].errors['required']">{{ 'Salary is required' }}
                                                </div>
                                                <div *ngIf="f['salary'].errors['pattern']">{{ 'Please enter a valid salary'
                                                    }}</div>
                                                <div *ngIf="f['salary'].errors['min']">Salary must be at least 1000
                                                </div>
                                            </div>
                                            </div>

                                            <div class="mb-3">
                                                <label for="shift" class="form-label">Shift:</label>
                                                <select class="form-control" id="shift" formControlName="shift"
                                                    [(ngModel)]="employeeObj.shift">
                                                    <option value="" disabled selected>Select shift</option>
                                                    <option value="8am-6pm">8am-6pm</option>
                                                    <option value="9am-8pm">9am-8pm</option>
                                                    <option value="6pm-8am">6pm-8am</option>
                                                    <option value="8pm-9am">8pm-9am</option>
                                                </select>
                                            <div *ngIf="submitted && f['shift'].errors" class="space error">
                                                <div>{{ 'Please select your shift' }}</div>
                                            </div>
                                            </div>

                                            <div class="mb-3">
                                                <label for="phone" class="form-label">Phone:</label>
                                                <input type="tel" class="form-control" id="phone"
                                                    placeholder="Enter your phone" formControlName="phone" maxlength="10"
                                                    [(ngModel)]="employeeObj.phone">
                                            <div *ngIf="submitted && f['phone'].errors" class="error space">
                                                <div *ngIf="f['phone'].errors['required']">{{ 'Phone number is required'
                                                    }}</div>
                                                <div *ngIf="f['phone'].errors['pattern']">{{ 'Please enter a valid phone number' }}</div>
                                            </div>
                                            </div>

                                            <div class="form-group">
                                                <label>Gender:</label>
                                                <div>
                                                    <label>
                                                        <input type="radio" name="gender" value="Male"
                                                            formControlName="gender" [(ngModel)]="employeeObj.gender">
                                                        Male
                                                    </label>
                                                    <label>
                                                        <input type="radio" name="gender" value="Female"
                                                            formControlName="gender" [(ngModel)]="employeeObj.gender">
                                                        Female
                                                    </label>
                                                    <label>
                                                        <input type="radio" name="gender" value="Other"
                                                            formControlName="gender" [(ngModel)]="employeeObj.gender">
                                                        Other
                                                    </label>
                                                </div>
                                            <div *ngIf="submitted && f['gender'].errors" class="space error">
                                                <div *ngIf="f['gender'].errors['required']">{{ 'Gender is required' }}
                                                </div>
                                            </div>
                                            </div>

                                        </div>
                                        <div class="d-flex justify-content-center align-items-center gap-2 mt-3">
                                            <button type="button" class="btn btn-secondary button-style"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-success button-style">Save changes</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </td>
                <td class="action-buttons" (click)="deleteModal(employee)">
                    <button class="bin">
                        <img src="assets/images/bin.png" alt="">
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content delete-modal">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5 class="modal-title" id="modal-title">Delete employee details</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="d-flex justify-content-center align-items-center">
                                    <p>Are you sure of deleting this employee?</p>
                                </div>
                                <div class="d-flex justify-content-center align-items-center gap-2">
                                    <button type="button" class="btn btn-secondary button-style"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="button" (click)="deleteEmployee()"
                                        class="btn btn-danger button-style">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </td>
            </tr>
                <tr  col="12" *ngIf="employeeList && employeeList.length == 0">
                    <td>no data found</td>
                </tr>
        </tbody>
    </table>
</div>