<div class="employee-container">
  <h1>Employee List</h1>

  <table>
    <thead>
      <tr>
        <th>Sl no</th>
        <th>Name</th>
        <th>Designation</th>
        <th>Salary</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees; let i=index">
        <td>{{ i+1 }}</td>
        <td>{{ employee.name }}</td>
        <td>{{ employee.designation }}</td>
        <td>{{ employee.salary}}</td>
        <td class="action-buttons">
          <button (click)="editEmployee(employee)">
            <img src="assets/images/edit.png" alt="">
          </button>
        </td>
        <td class="action-buttons" (click)="deleteEmployee(employee)">
          <button>
            <img src="assets/images/bin.png" alt="">
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
