<div class="employee-container">
        <div class="top d-flex justify-content-between">
            <h1>Employee List</h1>
            <section>
                <button class="add" data-bs-toggle="modal" data-bs-target="#form-modal">Add Employee</button>
            </section>
        </div>

        <table>
            <thead>
                <tr>
                    <th>Sl no</th>
                    <th>Name</th>
                    <th>Designation</th>
                    <th>Joining Date</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Salary</th>
                    <th>Shift</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employees; let i=index">
                    <td>{{ i+1 }}</td>
                    <td>{{ employee.name }}</td>
                    <td>{{ employee.designation }}</td>
                    <td>{{ employee.date }}</td>
                    <td>{{ employee.age }}</td>
                    <td>{{ employee.gender }}</td>
                    <td>{{ employee.salary}}</td>
                    <td>{{ employee.shift}}</td>
                    <td class="action-buttons">
                        <button (click)="editEmployee(employee)" class="edit">
                            <img src="assets/images/edit.png" alt="">
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="form-modal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content add-modal">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modal-title">Edit employee details</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="mb-3">
                                                <label for="fname" class="form-label">Name:</label>
                                                <input type="text" class="form-control" id="name"
                                                    placeholder="Enter your name">
                                            </div>

                                            <div class="mb-3">
                                                <label for="designation" class="form-label">Designation:</label>
                                                <select class="form-control" id="designation">
                                                    <option value="" disabled selected>Select designation</option>
                                                    <option value="Intern">Intern</option>
                                                    <option value="Trainee">Trainee</option>
                                                    <option value="Junior Developer">Junior Developer</option>
                                                    <option value="Senior Developer">Senior Developer</option>
                                                    <option value="Team Lead">Team Lead</option>
                                                    <option value="Manager">Manager</option>
                                                    <option value="HR">HR</option>
                                                    <option value="CEO">CEO</option>
                                                </select>
                                            </div>

                                            <div class="mb-3">
                                                <label for="date" class="form-label">Joining Date:</label>
                                                <input type="date" class="form-control" id="date"
                                                    placeholder="Enter your date of joining">
                                            </div>

                                            <div class="mb-3">
                                                <label for="age" class="form-label">Age:</label>
                                                <input type="number" class="form-control" id="age"
                                                    placeholder="Enter your age">
                                            </div>

                                            <!-- Gender field in your modal form -->
                                            <div class="form-group">
                                                <label>Gender:</label>
                                                <div>
                                                    <label>
                                                        <input type="radio" name="gender" value="Male">
                                                        Male
                                                    </label>
                                                    <label>
                                                        <input type="radio" name="gender" value="Female">
                                                        Female
                                                    </label>
                                                    <label>
                                                        <input type="radio" name="gender" value="Other">
                                                        Other
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="mb-3">
                                                <label for="salary" class="form-label">Salary:</label>
                                                <input type="number" class="form-control" id="salary"
                                                    placeholder="Enter your salary">
                                            </div>

                                            <div class="mb-3">
                                                <label for="shift" class="form-label">Shift:</label>
                                                <select class="form-control" id="shift">
                                                    <option value="" disabled selected>Select shift</option>
                                                    <option value="8am-6pm">8am-6pm</option>
                                                    <option value="9am-8pm">9am-8pm</option>
                                                    <option value="6pm-8am">6pm-8am</option>
                                                    <option value="8pm-9am">8pm-9am</option>
                                                </select>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-success">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </td>
                    <td class="action-buttons" (click)="deleteEmployee(employee)">
                        <button data-bs-toggle="modal" data-bs-target="#delete-modal" class="bin">
                            <img src="assets/images/bin.png" alt="">
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content add-modal">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modal-title">Delete employee details</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure of deleting the employee?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-danger">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>